
    <div class="contenido border">
        <img  class="img-fluid rounded float-left imgage" src="https://img.newatlas.com/mazda-vision-coupe-wins-2018-concept-car-of-the-year-4.jpg?auto=format%2Ccompress&ch=Width%2CDPR&fit=crop&h=347&q=60&rect=0%2C106%2C1620%2C912&w=616&s=a40e38fdb6995f043b03589dd2e2bf6e" alt="Responsive image">
        <div class="float-right contenidoveh">
            <h2>Pichirilo</h2>
            <h3>modelo</h3>
            <h3>marca</h3>
            <h3>placa</h3>
            <br>
            <button type="button" class="btn">Ver Documentos</button>
        </div>
    </div>
    <button type="button" class="btn btn-volver" routerLink="/">Volver</button>