.contenido {
    position: absolute;
    left: 20%;
    top: 30%;
}

.imgage {
    width: 616px;
    height: 347px;
}

.contenidoveh {
    margin-left: 20px;
    margin-top: 10%;
    margin-right: 30px;
}

.btn {
    background-color: #a08eff;
    color: #fff;
    font-weight: bold;
}
.btn:hover {
    background-color: #f7f7f7;
    color: #a08eff;
    border: 1px solid #a08eff;
    cursor: pointer;
}

.btn-volver {
    position: absolute;
    left: 20%;
    top: 24%; 
}