<br>
<div class="container">
<div class="alert alert-danger center" role="alert">
    <h4 class="alert-heading">CUIDADO</h4>
    <p>El documento <b>soat</b> con numero <b>102820384</b> perteneciente al vehiculo <b>Mazda 3</b> vencerá en la fecha <b>15/06/2019</b></p>
  </div>

  <div class="alert alert-danger center" role="alert">
    <h4 class="alert-heading">CUIDADO</h4>
    <p>El documento <b>soat</b> con numero <b>102820384</b> perteneciente al vehiculo <b>Mazda 3</b> vencerá en la fecha <b>15/06/2019</b></p>
  </div>

  <div class="alert alert-danger center" role="alert">
    <h4 class="alert-heading">CUIDADO</h4>
    <p>El documento <b>soat</b> con numero <b>102820384</b> perteneciente al vehiculo <b>Mazda 3</b> vencerá en la fecha <b>15/06/2019</b></p>
  </div>

  <div class="alert alert-danger center" role="alert">
    <h4 class="alert-heading">CUIDADO</h4>
    <p>El documento <b>soat</b> con numero <b>102820384</b> perteneciente al vehiculo <b>Mazda 3</b> vencerá en la fecha <b>15/06/2019</b></p>
  </div>
  <button type="button" class="btn" style="float: right" routerLink="/vehiculos">Continuar</button>
</div>